/* css styles */
.definition, .theorem {
    text-align: justify;
    width: 90%;
    margin-left: 5%;
}
.pseudocode-container {
    width: 86%;
    margin-left: 7%;
}
.red {
    color: rgb(206, 40, 40);
}
.green {
    color: green;
}
.blue {
    color: rgb(0, 0, 204);
}